* {
    box-sizing: border-box; /* serve para elementos em que a borda não é considerada no tamanho do elemento, erros comuns nos inputs */
    font-family: Helvetica, sans-serif /* fonte padrão é Helvetica, se não tiver, será usada a Sans-serif*/
}

/* nav */
.navbar {
    padding: 1rem; /* melhor usar em "rem" pois funciona melhor em dispositivos móveis */
    border-bottom: 1px solid #ccc; /* borda inferior de 1px e cor cinza */
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px; /* separação de 10 px de um item da navbar para o outro */
}

/* estes seletores já tem estilos do bootstrap, mas escrevendo aqui, você altera o padrão */
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25 px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #fefefe;
    background-color: #f03e3e;
    border: 1px solid transparent;  
    border-radius: 0;
}   

.nav-link.btn.btn-primary:hover {
    background-color: #fff; 
    color: #f03e3e; /* cor do botão ao passar o mouse */
    border-color: #f03e3e; 
}

/* banner */


main-title {
    color: red;
}

main-subtitle {
    color: red;
}
